.container: {
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100%;
	padding: 24px;
}

.pd__wrapper {
	margin-bottom: 24px;
}

.pd__media {
	height: 200px;
	width: 200px;
}

.pd__shopping-cart {
	margin: 12px;
}

.bag__btn {
	position: absolute;
	top: 28px;
	right: 28px;
	padding: 0
}

.bag__cart ul {
	list-style-type: none;
	padding: 0;
}

.navbar {
	width: 100%;
	position: static;
	border-bottom-color: #171717;
	border-bottom-width: medium;
	top: 0px;
	z-index: 10;
  	background-color: white;
  	padding: 0 24px;
}

.btn {
	border-color: #171717;
	color: #171717;
  	background-color: white;
  	border-width: medium;
}

.canvas {
	top: 3em;
	padding: 24px;
}

.input-medium {
	padding-bottom: 0.5em;
}

.thumbnails {
	top: 3em;
}

.thumbnails li {

	list-style-type: none;
}

h1{
	color: #171717;
}

a {
	color: #171717;
}

.thumbnail {
	box-shadow: none;
}

@media only screen and (min-width: 767px) {
	.list-image {
		width: 50%;
		display: inline-block;
	}
}
